@import './variables';


.aboutusCon{
    padding: 40px 10%;
    font-size: 15px;

    h1{
        font-family: poppinsBold;
        font-size: 35px;
    }
}

@media (max-width:780px) {
    .aboutusCon{
        font-size: 13px;
        padding: 100px 30px 60px 30px;

        h1{
            font-family: poppinsBold;
            font-size: 30px;
        }
    }
}