
@media (prefers-color-scheme: dark) {

    .categoryCon{
        background: $color18 !important;


        h2{
            color: $color4 !important;
        }

        i{
            color: $color9 !important;
        }
    }
    
    .categoriesCon2{
        p{
            color: $color4 !important;
        }
    }
    .emailRegister{
        button{
            color: $color0 !important;
            background: $color3 !important;
        }
    }



    .blogMetaData{
        color: $color3 !important;
    } 

    .blogInfo{
    background: $color18 !important;

    h3{
        color:$color3 !important;
    }
}

.blogInfo p:nth-of-type(1){
    color: $color3 !important;
}


.blogDataCon{
    background: $color18 !important;
}

.blogData{
    i{
        color:$color4 !important;
    }
}


.blogSliderHeading{
    h2{
        color: $color2 !important;
    }
}


footer{
    background: #202020 !important;
}

.footerLinksCon{
    
    h4{
        color:$color2 !important;
    }

    
    ul{

        li{
            background-color: $color3 !important;
            color:$color0 !important;
        }

        li:hover{
            background: $color1 !important;
        }

}
}

}