
.miniBlogListCon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 100px;

    .categories{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width:100%;
    }
}

.miniBlogCon{
    min-width: 255px;
    width: 20%;
    margin:12px;
    height: 250px;
}

.miniBlogImg{
    height: 140px;
    width: 100%;
    position: relative;
    background-color: #F0EEEE;
    background-image: url('/imageLoader.png');
    background-repeat: no-repeat;
    background-position: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.miniBlogInfo{
    padding: 12px 0;
    

    h3{
        font-family: poppinsRegular;
        font-size: 16px;
        color: $color0;
        word-break: break-word;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

}



@media (max-width:780px) {
    .miniBlogListCon{
        padding: 0;

        .categories{
            align-items: flex-start;
        }
    }
    .miniBlogCon{
        min-width: 90px;
        width: 45%;
        margin: 8px;
        height: auto;
    }
    .miniBlogImg{
        height: 100px;
    }
    .miniBlogInfo{
        h3{
            font-size: 13px;
        }
    
    }
}