    *{
        font-family: poppinsLight;
    }
    
    $color0:#073128;
    $color1:#177C65;
    $color2:#29a084;
    $color3:#e4e2e2;
    $color4:white;
    $color5:#c0c2c2;
    $color59:#fcfcfc;
    $color6: #50c2a7;
    $color7:#f5f6f6;
    $color8:rgb(63, 63, 63);
    $color9:gray;
    $color10:0 1px 2px 0 rgba(0, 0, 0, 0.15);
    $color101:#f7f7f7;
    
    $color11:#29a084;
    $color12:#0a0a0a;
    $color13:#141414;
    $color14:#c9c5c5;
    $color15:#343434;
    $color16:#aaaaaa;
    $color17:linear-gradient(40deg,$color2,$color1);
    $color18:0 1px 2px 0 rgba(0,0,0,.2);
    $color19:rgb(252, 252, 252);
    $color20:#fcfcfc;


    //Dark Theme
    $color18:#1b1b1b;
    $color19:#141414;

    $gradient1:linear-gradient(30deg,orangered,orange);
    $gradient2:linear-gradient(30deg,#0C7BB3,#F2BAE8);


    



    @font-face {
    font-family: poppinsExtraBold;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
    
    }
    @font-face {
    font-family: poppinsBold;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
    
    }
    @font-face {
    font-family: poppinsMedium;
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    
    }
    @font-face {
    font-family: poppinsRegular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    
    }
    @font-face {
    font-family: poppinsLight;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
    
    }

    @font-face {
        font-family: metropolisBold;
        src: url("../fonts/Metropolis/Metropolis-Bold.otf");
        
    }

    @font-face {
        font-family: metropolisRegular;
        src: url("../fonts/Metropolis/Metropolis-Regular.otf");
        
    }
    @font-face {
        font-family: proximaNova;
        src: url("../fonts/Proxima_Nova/Proxima1.otf");
        
    }
    


    


